<footer>
    <div class="container">
        <div class="footer-wrap">

        </div>
    </div>
</footer>


<!-- popup -->
{{!-- {{> popup}}

<!-- accept request popup -->
{{> accept-request-popup}}

<!-- general statistics popup -->
{{> advisor-popup}}

<!--confirm popup -->
{{> confirm-popup}} --}}

<!--Main JS -->
<script src="{{ main.js }}main.min.js"></script>

</body>
</html>
