<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js ie6 oldie" lang="en"><![endif]-->
<!--[if IE 7]><html class="no-js ie7 oldie" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js ie8 oldie" lang="en"><![endif]-->
<!--[if IE 9]><html class="no-js ie9" lang="en"><![endif]-->
<!--[if gt IE 9]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>

    <meta charset="{{ main.charset }}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="robots" content="{{ main.robots }}">
    <meta name="keywords" content="{{ main.keywords }}">
    <meta name="description" content="{{ main.description }}">
    <meta name="author" content="{{ main.author }}">


    <!-- favicon -->
    <link rel="shortcut icon" href="{{ main.favicon }}" type="image/x-icon">
    <link rel="icon" href="{{ main.favicon }}" type="image/x-icon">
    <!-- /favicon -->

    <title>{{ main.title }}</title>

    <!-- css libraries -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <link rel="stylesheet" href="{{ main.css }}tooltipster-sideTip-shadow.min.css">
    <link rel="stylesheet" href="{{ main.css }}datatables.min.css">
    <link rel="stylesheet" href="{{ main.css }}datepicker.min.css">
    <link rel="stylesheet" href="{{ main.css }}magnific.css">
    <link rel="stylesheet" href="{{ main.css }}select2.min.css">
    <link rel="stylesheet" href="{{ main.css }}fontawesome-stars.css">
    <link rel="stylesheet" href="{{ main.css }}tooltipster.bundle.min.css">
    <!-- /css libraries -->

    <!-- Custom style -->
    <link rel="stylesheet" href="{{ main.css }}screen.css">

    <!-- ******** add scripts -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>

    {{> scripts}}

</head>
<body>
