<script src="{{ main.js }}modernizr.js"></script>
<script src="{{ main.js }}datatables.min.js"></script>
<script src="{{ main.js }}wow.min.js"></script>
<script src="{{ main.js }}magnific.popup.js"></script>
<script src="{{ main.js }}slick.min.js"></script>
<script src="{{ main.js }}jquery.selectric.js"></script>
<script src="{{ main.js }}datepicker.min.js"></script>
<script src="{{ main.js }}select2.min.js"></script>
<script src="{{ main.js }}jquery.barrating.min.js"></script>
<script src="{{ main.js }}jquery.validate.min.js"></script>
<script src="{{ main.js }}tooltipster.bundle.min.js"></script>
