%svg-common {
	background: url("svgSprite.svg") no-repeat;
}

.svg-Combined-Shape {
	@extend %svg-common;
	background-position: 0 0;
	width: 32px;
	height: 21.57px;
}

.svg-Icon {
	@extend %svg-common;
	background-position: 0 2.906208718626156%;
	width: 32px;
	height: 32px;
}

.svg-Icon_copy {
	@extend %svg-common;
	background-position: 0 7.053383664885905%;
	width: 32px;
	height: 23.41px;
}

.svg-Icon_copy_2 {
	@extend %svg-common;
	background-position: 0 10.303830911492735%;
	width: 17.95px;
	height: 32px;
}

.svg-Icon_copy_3 {
	@extend %svg-common;
	background-position: 0 14.425472762084613%;
	width: 32px;
	height: 26.46px;
}

.svg-Logo {
	@extend %svg-common;
	background-position: 0 17.593650875187816%;
	width: 32px;
	height: 10.31px;
}

.svg-Logo_copy {
	@extend %svg-common;
	background-position: 0 19.43481458136359%;
	width: 32px;
	height: 27.48px;
}

.svg-Shape {
	@extend %svg-common;
	background-position: 0 22.910700338453527%;
	width: 32px;
	height: 20.8px;
}

.svg-Shape_13 {
	@extend %svg-common;
	background-position: 0 25.57843620971721%;
	width: 32px;
	height: 18.82px;
}

.svg-bikegen {
	@extend %svg-common;
	background-position: 0 28.499426053225317%;
	width: 32px;
	height: 31.09px;
}

.svg-cart {
	@extend %svg-common;
	background-position: 0 32.69180068547324%;
	width: 32px;
	height: 30.4px;
}

.svg-cart_header {
	@extend %svg-common;
	background-position: 0 36.812730079562996%;
	width: 32px;
	height: 31.11px;
}

.svg-close {
	@extend %svg-common;
	background-position: 0 40.23285899094437%;
	width: 16px;
	height: 16px;
}

.svg-commerce {
	@extend %svg-common;
	background-position: 0 42.61141516810008%;
	width: 32px;
	height: 21.6px;
}

.svg-cpu-chip {
	@extend %svg-common;
	background-position: 0 46.10303830911493%;
	width: 32px;
	height: 32px;
}

.svg-f-1 {
	@extend %svg-common;
	background-position: 0 50.33025099075297%;
	width: 25.6px;
	height: 32px;
}

.svg-f-2 {
	@extend %svg-common;
	background-position: 0 54.557463672391016%;
	width: 25.6px;
	height: 32px;
}

.svg-f-3 {
	@extend %svg-common;
	background-position: 0 58.78467635402906%;
	width: 25.6px;
	height: 32px;
}

.svg-facebook {
	@extend %svg-common;
	background-position: 0 63.01188903566711%;
	width: 32px;
	height: 32px;
}

.svg-g-plus {
	@extend %svg-common;
	background-position: 0 67.23910171730515%;
	width: 32px;
	height: 32px;
}

.svg-insta {
	@extend %svg-common;
	background-position: 0 71.4663143989432%;
	width: 32px;
	height: 32px;
}

.svg-lens {
	@extend %svg-common;
	background-position: 0 75.69352708058125%;
	width: 32px;
	height: 32px;
}

.svg-like-icon {
	@extend %svg-common;
	background-position: 0 79.92073976221928%;
	width: 25.6px;
	height: 32px;
}

.svg-linked-in {
	@extend %svg-common;
	background-position: 0 84.14795244385733%;
	width: 32px;
	height: 32px;
}

.svg-list {
	@extend %svg-common;
	background-position: 0 87.35962392269522%;
	width: 32px;
	height: 23.2px;
}

.svg-pinterest {
	@extend %svg-common;
	background-position: 0 91.54557463672391%;
	width: 32px;
	height: 32px;
}

.svg-search {
	@extend %svg-common;
	background-position: 0 95.77278731836195%;
	width: 32px;
	height: 32px;
}

.svg-twitter {
	@extend %svg-common;
	background-position: 0 100%;
	width: 32px;
	height: 32px;
}

