<!-- popup wrapper -->
<div class="popup-wrapper debate-popup" id="debatePopup">
	<div class="popup-overlay"></div>
	<div class="popup">
	
		<!-- close icon -->
		<i class="material-icons close-icon">close</i>
		<!-- end close icon -->

		<div class="popup-header debate-popup-header">
			<h1 class="popup-header-title">CREATE NEW DEBATE</h1>
		</div>
		<div class="popup-body">
			<p class="debate-packet-title">Select bet amount and click Start New Debate.</p>
			<div class="debate-packet">

				<!-- debate packet item -->
				<div class="debate-packet-item">
					<!-- select radio input -->
					<label for="f-option-30" class="slct-radio-black popup-radio">
					    <input type="radio" id="f-option-30" name="selector">
					    <div class="check-black">5 LI</div>
					</label>
					<!-- select radio input -->
				</div>
				<!-- debate packet item -->
				
				<!-- debate packet item -->
				<div class="debate-packet-item">
					<!-- select radio input -->
					<label for="f-option-31" class="slct-radio-black popup-radio">
					    <input type="radio" id="f-option-31" name="selector">
					    <div class="check-black">10 LI</div>
					</label>
					<!-- select radio input -->
				</div>
				<!-- debate packet item -->
				
				<!-- debate packet item -->
				<div class="debate-packet-item">
					<!-- select radio input -->
					<label for="f-option-32" class="slct-radio-black popup-radio">
					    <input type="radio" id="f-option-32" name="selector">
					    <div class="check-black">15 LI</div>
					</label>
					<!-- select radio input -->
				</div>
				<!-- debate packet item -->
				
				<!-- debate packet item -->
				<div class="debate-packet-item">
					<!-- select radio input -->
					<label for="f-option-33" class="slct-radio-black popup-radio">
					    <input type="radio" id="f-option-33" name="selector">
					    <div class="check-black">20 LI</div>
					</label>
					<!-- select radio input -->
				</div>
				<!-- debate packet item -->
			</div>
			
			<p class="balance-title">Your balance:</p>
			<p class="balance-subtitle">87,98 LI</p>
			<p class="debate-packet-text">You may invite another participant to Debate. Just enter his ID number in the ID field.</p>
			<p class="balance-title balance-title-bottom">Invite opponent:</p>
			<input class="input input-stn popup-input" type="text" placeholder="Name Surname">

			<!-- button block -->
			<div class="button-block">
				<a class="button is-large is-success success-button popup-btn" href="#" data-popup="confirmPopup">Creat new debate</a>
			</div>
			<!-- end button block -->
			
			<!-- note block -->
			<div class="note-block">
				<p class="note-block-item">Your Note Here</p>
			</div>
			<!-- end note block -->
		</div>
	</div>
</div>
<!-- end popup wrapper -->