<div class="preloader">
    <div class="fs-preloader">
        <div class="page"><hr><hr><hr></div>
        <div class="page page1 turn"><hr><hr><hr></div>
        <div class="page page2 turn"><hr><hr><hr></div>
        <div class="page page3 turn"><hr><hr><hr></div>
        <div class="page page4 turn"><hr><hr><hr></div>
        <div class="page page5 turn"><hr><hr><hr></div>
        <div class="page page6 turn"><hr><hr><hr></div>
        <div class="page"><hr><hr><hr></div>
    </div>
</div>