body
	position: relative

// outline all none
*:focus
	outline: none


.image
	img
		width: 100%
		display: block

.main
	width: 100%
	min-height: 100vh
	position: relative
	z-index: 88
	display: flex
	align-items: center
	+until($fullhd)
		padding: 60px 0

.main-wrap
	width: 70%
	margin: 0 auto
	box-shadow: 1px 1px 4px rgba(0,0,0,0.3)
	.header
		display: flex
		width: 100%
		position: relative
		height: 70px
		border-top-left-radius: 2px
		border-top-right-radius: 2px
		background: rgba(0,0,0,0.5)
		.logo
			width: 70px
			height: 70px
			display: flex
			justify-content: center
			align-items: center
			background: rgba(0,0,0,0.7)
			border-top-left-radius: 2px
			img
				width: 30px
		.header-right
			background: transparent
			height: 70px
			.menu
				display: flex
				padding-left: 50px
				height: 70px
				align-items: center
				justify-content: center
				li
					margin-right: 30px
					a
						font-size: 16px
						color: #848484
						+transition(all .3s ease)
						&:hover, &.active
							color: #f7f7f7
	.body
		.tabs-block
			min-height: 500px
			display: flex
			position: relative
			border-bottom-left-radius: 2px
			border-bottom-right-radius: 2px
			+until($desktop)
				min-height: 400px
			.line-tabs
				width: 70px
				background: #8dd854
				border-bottom-left-radius: 2px
				.tabs
					overflow: inherit
					flex-wrap: wrap
					li
						display: flex
						justify-content: center
						align-items: center
						height: 50px
						width: 70px
						cursor: pointer
						+transition(all .3s ease)
						&:hover, &.active
							color: #000
			.tab-content
				width: 100%
				background: #f7f7f7
				border-bottom-right-radius: 2px
				.tab-item
					display: none
					.tab-title
						background: #ffffff
						height: 60px
						line-height: 60px
						padding-left: 50px
						color: #222222
						font-size: 18px
						border-bottom: 1px solid #e3e3e3
					&.active
						display: block



.counts-info
	display: flex
	width: 100%
	padding-left: 50px
	margin-top: 25px
	margin-bottom: 25px
	flex-direction: row
	justify-content: flex-start
	.counts-info_item
		margin-right: 60px
		padding-left: 15px
		border-left: 1px solid orangered
		display: flex
		flex-direction: column
		.counts-info_item_num
			margin-bottom: 10px
			font-size: 28px
			line-height: 1
			color: gray(50%)
		.counts-info_item_text
			font-size: 14px
			color: #c3c3c3
			line-height: 1


// charts
.charts-block
	display: flex
	padding-right: 10px
	padding-left: 50px
	.charts-block-item
		width: 50%
		margin-right: 20px
		&:last-child
			margin-right: 0


// bottom block
.bottom_block
	display: flex
	padding-left: 50px
	margin-top: 50px
	flex-direction: row
	.bottom-block-title
		font-size: 20px
		width: 100%
		color: #222222
		margin-bottom: 30px
	// players
	.players
		width: 50%
		.players-items
			display: flex
			flex-wrap: wrap
			justify-content: flex-start
			.players-item
				width: 30%
				display: flex
				flex-direction: row
				justify-content: flex-start
				margin-bottom: 30px
				margin-right: 30px
				&:last-child
					margin-right: 0
				.player-img
					width: 40px
					height: 40px
					border-radius: 50%
				.players-item-right
					margin-left: 10px
					.name
						font-size: 16px
						color: #c3c3c3
						line-height: 1
						margin-bottom: 5px
					.country-name
						font-size: 14px
						color: #e3e3e3
						line-height: 1
	// statistics
	.players-statistics
		width: 50%


