// variables
@import "utilities/initial-variables"

////////////////////////////////////////////////
////////////////////////////////////////////////
// 1. Primary Colors
$blue-darker:            #032643
$blue-dark:              #002E51
$blue:                   #003C6A
$blue-light:             #105D97
$blue-lighter:           #547392
$blue-lighter-first:     #dfe4e7
$blue-lighter-second:    #f4f6f7


////////////////////////////////////////////////
////////////////////////////////////////////////
// 2. Grey Colors
$grey-darker:  #4A4A4A
$grey-dark:    #757575
$grey-middle:  #979797
$grey:         #B3B3B3
$grey-light:   #D8D8D8
$grey-lighter: #F7F7F7
$grey-lighter-first: #ececec


////////////////////////////////////////////////
////////////////////////////////////////////////
// 3. Gradient colors
$blue-darker-gradient: linear-gradient(to bottom, #00345C, #00223F)
$blue-gradient: linear-gradient(to bottom, #00589B, #003B6D)
$red-gradient: linear-gradient(to bottom, #F5515F, #9F031B)
$green-gradient: linear-gradient(to bottom, #9BD13D, #299000)
$gray-gradient: linear-gradient(to bottom, #F4F4F4, #E9E8E8)

////////////////////////////////////////////////
////////////////////////////////////////////////
// 3. Gradient hover colors
$green-gradient-hover: linear-gradient(to bottom, #82bc1b, #1f6b00)
$red-gradient-hover: linear-gradient(to bottom, #f13243, #7b0315)
$blue-gradient-hover: linear-gradient(to bottom, #00467b, #002544)


/////////////////////////////////////
/////////////////////////////////////
// Gradient for Tab in Country-page
$secondary-tab-gradient: linear-gradient(to bottom, #fbfbfb, #eeeeee)


////////////////////////////////////////////////
////////////////////////////////////////////////
// 4. Secondary colors
$secondary-blue: #1570b5
$secondary-red: #ed1d24
$secondary-green: #81c335
$secondary-green-dark: #62a42f
$secondary-orange: #f08200
$secondary-grey: #768ca1
$secondary-blue-dark: #273a5e


////////////////////////////////////////////////
////////////////////////////////////////////////
// 2. Primary colors
$primary-darker: $blue-darker !default
$primary-dark: $blue-dark !default
$primary: $blue !default
$primary-light: $blue-light !default
$primary-lighter: $blue-lighter !default
$primary-lighter-first: $blue-lighter-first !default
$primary-lighter-second: $blue-lighter-second !default


////////////////////////////////////////////////
////////////////////////////////////////////////
// Box shadow
$popup-bs: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 14px 28px 0 rgba(0, 0, 0, 0.1)


////////////////////////////////////////////////
////////////////////////////////////////////////
// is-colors

// green color
.is-green
	color: #81c335!important

.is-green-dark
	color: $secondary-green-dark!important

// red color
.is-red
	color: #f20a0a!important

// orange color
.is-orange
	color: #ffbe53!important

// grey color
.is-grey
	color: $grey!important

// grey dark color
.is-grey-dark
	color: $grey-dark!important

.is-grey-light
	border-color: $grey-light!important

// blue color
.is-primary
	color: $primary!important

// opacity 0.5 ( half one )
.opacity-half
	opacity: 0.5 


// flags border
.is-flag-border
	border: 1px solid  $blue-lighter-first!important


// color red
$is-red: #ed1d24
// color green
$is-green: #81c335
// text color
$text-color-secondary: #191919!important
// border block some
$border-color: #c9c9c9


// Bulma
@import "bulma"
