$input:                     $grey-darker !default
$input-background:          $white !default
$input-border:              $grey-lighter !default

$input-hover:               $grey-darker !default
$input-hover-border:        $grey-light !default

$input-focus:               $grey-darker !default
$input-focus-border:        $link !default

$input-disabled:            $text-light !default
$input-disabled-background: $background !default
$input-disabled-border:     $background !default

$input-arrow:               $link !default

$input-icon:                $grey-lighter !default
$input-icon-active:         $grey !default

$input-radius:              $radius !default

=input
  +control
  background-color: $input-background
  border-color: $grey-light
  color: $primary-dark
  display: block
  height: 46px
  line-height: 46px
  padding: 0 20px 0 20px
  font-family: "robotoCondensed"
  +placeholder
    color: $grey-dark
    text-transform: capitalize
  &:focus,
  &.is-focused,
  &:active,
  &.is-active
    border-color: $blue-darker !important
  &[disabled]
    background-color: $input-disabled-background
    border-color: $input-disabled-border
    box-shadow: none
    color: $input-disabled
    +placeholder
      color: $grey

.input,
.textarea
  border-radius: 0!important
  font-size: 14px
  +input
  max-width: 100%
  width: 100%
  line-height: 1.4
  &[type="search"]
    border-radius: 290486px
  // Colors
  @each $name, $pair in $colors
    $color: nth($pair, 1)
    &.is-#{$name}
      border-color: $color
  // Sizes
  &.is-small
    +control-small
  &.is-medium
    +control-medium
  &.is-large
    +control-large
  // Modifiers
  &.is-fullwidth
    display: block
    width: 100%
  &.is-inline
    display: inline
    width: auto

// border grey light color
.is-greylight-border
  border: 1px solid $grey-light !important

.textarea
  display: block
  resize: none
  max-height: 600px
  max-width: 100%
  min-height: 120px
  min-width: 100%
  padding: 15px 20px
  &:focus
    border-color: transparent
    color: #000

.checkbox,
.radio
  cursor: pointer
  display: inline-block
  line-height: 1.25
  position: relative
  font-family: "robotoCondensed"
  input
    cursor: pointer
  &:hover
    color: $input-hover
  &[disabled]
    color: $input-disabled
    cursor: not-allowed

.radio
  & + .radio
    margin-left: 0.5em

.select
  display: inline-block
  max-width: 100%
  border-radius: none
  position: relative
  vertical-align: top
  font-family: "robotoCondensed"
  &:after
    +arrow($input-arrow)
    margin-top: -0.375em
    right: 1.125em
    top: 50%
    z-index: 4
  select
    +input
    cursor: pointer
    display: block
    font-size: 15px
    border-radius: 0
    color: #000
    font-family: 'RobotoCondensed'
    font-weight: 700
    height: 46px
    line-height: auto
    padding-left: 20px
    padding-right: 76px
    border: 1px solid $grey-dark
    padding-top: 12px
    padding-bottom: 14px
    max-width: 100%
    outline: none
    &::-ms-expand
      display: none
    &[disabled]:hover
      border-color: $input-disabled-border
  // States
  &:hover
    &:after
      border-color: $input-hover
  // Colors
  @each $name, $pair in $colors
    $color: nth($pair, 1)
    &.is-#{$name} select
      border-color: $color
  // Sizes
  &.is-small
    +control-small
  &.is-medium
    +control-medium
  &.is-large
    +control-large
  // Modifiers
  &.is-disabled
    &:after
      border-color: $input-disabled
  &.is-fullwidth
    width: 100%
    select
      width: 100%
  &.is-loading
    &:after
      +loader
      margin-top: 0
      position: absolute
      right: 0.625em
      top: 0.625em
      transform: none

.label
  color: $grey
  display: block
  font-size: $size-normal
  font-weight: $weight-bold
  font-family: "robotoCondensed"
  &:not(:last-child)
    margin-bottom: 0.5em
  // Sizes
  &.is-small
    font-size: $size-small
  &.is-medium
    font-size: $size-medium
  &.is-large
    font-size: $size-large

.help
  display: block
  font-size: $size-small
  margin-top: 0.25rem
  @each $name, $pair in $colors
    $color: nth($pair, 1)
    &.is-#{$name}
      color: $color

// Containers

.field
  // Modifiers
  &.has-addons
    display: flex
    justify-content: flex-start
    .control
      margin-right: -1px
      &:first-child
        .button,
        .input,
        .select select
          border-bottom-left-radius: $input-radius
          border-top-left-radius: $input-radius
      &:last-child
        .button,
        .input,
        .select select
          border-bottom-right-radius: $input-radius
          border-top-right-radius: $input-radius
      .button,
      .input,
      .select select
        border-radius: 0
        &:hover,
        &.is-hovered
          z-index: 2
        &:focus,
        &.is-focused,
        &:active,
        &.is-active
          z-index: 3
          &:hover
            z-index: 4
      &.is-expanded
        flex-grow: 1
    &.has-addons-centered
      justify-content: center
    &.has-addons-right
      justify-content: flex-end
    &.has-addons-fullwidth
      .control
        flex-grow: 1
        flex-shrink: 0
  &.is-grouped
    display: flex
    justify-content: flex-start
    & > .control
      flex-shrink: 0
      &:not(:last-child)
        margin-bottom: 0
        margin-right: 0.75rem
      &.is-expanded
        flex-grow: 1
        flex-shrink: 1
    &.is-grouped-centered
      justify-content: center
    &.is-grouped-right
      justify-content: flex-end
  &.is-horizontal
    +tablet
      display: flex

.field-label
  .label
    font-size: inherit
    font-family: "robotoCondensed"
  +mobile
    margin-bottom: 0.5rem
  +tablet
    flex-basis: 0
    flex-grow: 1
    flex-shrink: 0
    margin-right: 1.5rem
    text-align: right
    &.is-small
      font-size: $size-small
      padding-top: 0.375em
    &.is-normal
      padding-top: 0.375em
    &.is-medium
      font-size: $size-medium
      padding-top: 0.375em
    &.is-large
      font-size: $size-large
      padding-top: 0.375em

.field-body
  +tablet
    display: flex
    flex-basis: 0
    flex-grow: 5
    flex-shrink: 1
    .field
      flex-shrink: 1
      &:not(.is-narrow)
        flex-grow: 1
      &:not(:last-child)
        margin-bottom: 0
        margin-right: 0.75rem

.control
  font-size: $size-normal
  position: relative
  text-align: left
  // Modifiers
  // DEPRECATED
  &.has-icon
    .icon
      color: $input-icon
      height: 2.25em
      pointer-events: none
      position: absolute
      top: 0
      width: 2.25em
      z-index: 4
    .input
      &:focus
        & + .icon
          color: $input-icon-active
      &.is-small
        & + .icon
          font-size: $size-small
      &.is-medium
        & + .icon
          font-size: $size-medium
      &.is-large
        & + .icon
          font-size: $size-large
    &:not(.has-icon-right)
      .icon
        left: 0
      .input
        padding-left: 2.25em
    &.has-icon-right
      .icon
        right: 0
      .input
        padding-right: 2.25em
  &.has-icons-left,
  &.has-icons-right
    .input,
    .select select
      &:focus
        & ~ .icon
          color: $input-icon-active
      &.is-small ~ .icon
        font-size: $size-small
      &.is-medium ~ .icon
        font-size: $size-medium
      &.is-large ~ .icon
        font-size: $size-large
    .icon
      color: $input-icon
      height: 2.25em
      pointer-events: none
      position: absolute
      top: 0
      width: 2.25em
      z-index: 4
  &.has-icons-left
    .input,
    .select select
      padding-left: 20px
    .icon.is-left
      left: 0
  &.has-icons-right
    .input,
    .select select
      padding-right: 2.25em
    .icon.is-right
      right: 0
  &.is-loading
    &:after
      +loader
      position: absolute !important
      right: 0.625em
      top: 0.625em


.custom-select
  display: inline-block
  .selectric-wrapper
    .selectric
      background: $white
      border: 1px solid $grey-light
      min-width: 170px
      font-family: "robotoCondensed"
      .label
        height: 44px
        line-height: 44px
        font-size: 14px
        padding-left: 20px
        padding-right: 60px
        text-transform: capitalize
        color: $primary-dark
        font-size: $size-normal
      .button
        height: 44px
        line-height: 44px
        vertical-align: middle
        padding: 0 !important
        &::after
          line-height: 44px
          color: $grey-dark
        &:hover
          background: transparent

    .selectric-items
      top: 140%
      background: $white
      border: 1px solid $primary
      border-top: none
      li
        padding-left: 20px
        padding-right: 20px
        border-color: $primary
        font-size: $size-normal
        color: $primary
        text-transform: capitalize
        font-family: "robotoCondensed"
        position: relative
        &.selected, &.highlighted, &:hover
          color: $primary-dark
          background: $blue-lighter-second
        &.disabled
          color: $grey
          display: none

        .flag
          width: 20px
          height: 15px
          +vcenter
          left: 30px
          & + span
            padding-left: 30px

    &.selectric-open
      .selectric
        border-color: $primary
      .selectric-items
        top: 120%
  // when display block
  &.is-block
    display: block


//********** select radio input
////////////////////////////////
.slct-radio
  position: relative
  input[type=radio]
    position: absolute
    display: none
  .check
    display: block
    position: absolute
    border-radius: 100%
    cursor: pointer
    width: 10px
    height: 10px
    background-color: $is-red
    top: 50%
    left: 5px
    +translateY(-50%)
    z-index: 5
    +transition(all .3s ease)
  .check::after
    display: block
    position: absolute
    content: ''
    opacity: 0
    border-radius: 100%
    border: 3px solid $is-green
    top: 5px
    left: 5px
    margin: auto
    +transition(all .3s ease)

  // when checked .check
  input[type=radio]:checked ~
    .check
      background-color: $is-green
      width: 10px
      height: 10px
      &::after
        opacity: 1
        padding: 7px
        top: -5px
        left: -5px
      &.is-wrong
        background-color: $is-red
        &::after
          border: 3px solid $is-red





//********** select radio input black color
////////////////////////////////
.slct-radio-black
  position: relative
  input[type=radio]
    position: absolute
    display: none
  .check-black
    display: inline-block
    position: relative
    border-radius: 100%
    cursor: pointer
    padding: 7px
    border: 2px solid $grey
    top: 0
    left: 5
    z-index: 5
  .check-black::after
    display: block
    position: absolute
    top: 50%
    left: 50%
    content: ''
    opacity: 0
    background-color: $primary-dark
    width: 10px
    height: 10px
    margin: auto
    border-radius: 100%
    +transform(translate3d(-50%, -50%, 0) scale(0))
    +transition(all .3s ease)

  // when checked .check
  input[type=radio]:checked ~
    .check-black
      border-color: $primary-dark
      & + p
        color: $primary-dark!important
      &::after
        opacity: 1
        width: 9px
        height: 9px
        +transform(translate3d(-50%, -50%, 0) scale(1))
        +transition(all .3s ease)



// ******* .datepicker-wrapper
.datepicker-wrapper
  position: relative
  font-family: 'Fontawesome'
  +until($mobileL)
    width: 100%
    .datepicker-input
      width: 100%
  &::after
    content: "\f107"
    position: absolute
    right: 0
    top: 0
    color: $grey-dark
    line-height: 46px
    width: 46px
    height: 46px
    text-align: center
    font-size: 1.2rem

  // with date icon input
  &.date-icon
    &::after
      content: '\f073'
      color: $primary-dark

// ******* .datepicker-input
.datepicker-input
  line-height: 46px
  height: 46px
  width: 150px
  padding-left: 20px
  color: $primary-dark
  border: 1px solid $grey-light
  background-color: transparent
  position: relative
  z-index: 1
  cursor: pointer

// ******* .datepicker-container
.datepicker-container
  border: 1px solid $grey-dark
  color: $primary-dark
  padding: 15px 10px
  left: auto
  right: 0
  +box-shadow(none)
  &::before, &::after
    display: none

  .datepicker-panel
    ul
      li
        &:hover:not(.picked)
          background: $grey-light
        &.picked
          background: $primary
          color: $white

// check box
.squaredTwo
  width: 20px
  position: relative
  label
    width: 18px
    height: 18px
    cursor: pointer
    border: 2px solid $grey-light
    position: absolute
    left: 0
    top: 0
    +border-radius(2px)
    &:after
      content: ''
      width: 11px
      height: 6px
      position: absolute
      top: 2px
      left: 2px
      border: 2px solid $white
      border-top: none
      border-right: none
      background: transparent
      opacity: 0
      visibility: hidden
      transform: rotate(-45deg)

    &:hover::after
      opacity: 0.3


  input[type=checkbox]
    visibility: hidden
    &:checked + label:after
      opacity: 1
      visibility: visible
    &:checked + label
      background-color: $primary
      border-color: $primary


//************** popup radio input block
/////////////////////////////////////////
.debate-packet
  padding-left: 25px
  +until($mobileL)
    padding-left: 0

.debate-packet-item
  width: 25%
  float: left
  padding-right: 25px
  +until($mobileL)
    width: 50%
    &:nth-child(1)
      padding-right: 10px
      margin-bottom: 20px
    &:nth-child(2)
      padding-left: 10px
      padding-right: 0
      margin-bottom: 20px
    &:nth-child(3)
      padding-right: 10px
    &:nth-child(4)
      padding-left: 10px
      padding-right: 0

.popup-radio
  position: relative
  display: block

  +until($tablet)
    margin-right: 20px

  // last child popup radio without margin
  &:last-child
    margin-right: 0

  // input
  input[type=radio]
    position: absolute
    display: none
  .check-black
    display: block
    position: relative
    cursor: pointer
    top: 0
    text-align: center
    border-radius: 0
    left: 0
    z-index: 5
    padding-top: 28px
    padding-bottom: 28px
    padding-left: 0
    padding-right: 0
    background-color: $primary-lighter-second
    border: 1px solid $grey-light
    color: $orange
    +transition(all .3s ease)
    font-size: 20px
    font-weight: bold

  // check black
  .check-black::after
    position: absolute
    top: 50%
    left: 50%
    content: ''
    opacity: 0

  // when checked .check
  input[type=radio]:checked ~
    .check-black
      background-image: $blue-gradient
      +transition(all .3s ease)
      &::after
        opacity: 0



// .error message
input.error
  border-color: $danger !important
  +box-shadow(0 0 8px 0 rgba(237, 29, 36, 0.16))
  &:focus
    border-color: $danger !important

label.error
  color: $danger
  line-height: 1.2rem
  font-size: $size-small
  display: block
  margin-top: 2px
