.block
  +block

.container
  position: relative
  padding-right: 15px
  padding-left: 15px
  margin-right: auto
  margin-left: auto
  +desktop
    margin: 0 auto
    max-width: 1170px
    width: 1170px
    // Modifiers
    &.is-fluid
      padding: 0 40px
      max-width: 1440px
      width: auto
  +widescreen
    max-width: $widescreen - 40px
    width: $widescreen - 40px
  +fullhd
    // max-width: $fullhd - 40px
    // width: $fullhd - 40px
    max-width: 1170px
    width: 1170px


.delete
  +delete

.fa
  font-size: 21px
  text-align: center
  vertical-align: top

.heading
  display: block
  font-size: 11px
  letter-spacing: 1px
  margin-bottom: 5px
  text-transform: uppercase

.highlight
  +block
  font-weight: $weight-normal
  max-width: 100%
  overflow: hidden
  padding: 0
  pre
    overflow: auto
    max-width: 100%

.loader
  +loader

.number
  align-items: center
  background-color: $background
  border-radius: 290486px
  display: inline-flex
  font-size: $size-medium
  height: 2em
  justify-content: center
  margin-right: 1.5rem
  min-width: 2.5em
  padding: 0.25rem 0.5rem
  text-align: center
  vertical-align: top
