.progress-wrapper
  padding: 3px
  margin-bottom: 5px
  border: 1px solid $blue-lighter-first
  background-color: $blue-lighter-second
  box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.4)
  +border-radius(50px)

.progress
  -moz-appearance: none
  -webkit-appearance: none
  border: none
  border-radius: 290486px
  display: block
  height: $size-normal
  overflow: hidden
  padding: 0
  height: 14px
  width: 100%
  &::-webkit-progress-bar
    background-color: $border
  &::-webkit-progress-value
    background-color: $text
  &::-moz-progress-bar
    background-color: $text
  // Colors
  @each $name, $pair in $colors
    $color: nth($pair, 1)
    &.is-#{$name}
      &::-webkit-progress-value
        +border-radius(50px)
        +background-image(linear-gradient(to left, $blue-light, $blue-dark))
      &::-moz-progress-bar
        +border-radius(50px)
        +background-image(linear-gradient(to left, $blue-light, $blue-dark))
  // Sizes
  &.is-small
    height: $size-small
  &.is-medium
    height: $size-medium
  &.is-large
    height: $size-large
