$table:                           $grey-darker !default
$table-background:                $white !default
$table-border:                    $grey-lighter !default

$table-head:                      $grey !default

$table-row-hover-background:      $white-bis !default

$table-row-active-background:     $primary !default
$table-row-active:                $primary-invert !default

$table-row-even-background:       $white-bis !default
$table-row-even-hover-background: $white-ter !default

.table, .table.dataTable
  background-color: $table-background
  color: $table
  margin-bottom: 50px
  width: 100%
  font-family: "robotoCondensed"
  td,
  th
    border-width: 0 0 1px
    min-width: 50px
    // Modifiers
    &.is-narrow
      white-space: nowrap
      width: 1%

    &.min-200
      min-width: 200px

  &.is-nested
    tbody
      tr
        cursor: pointer

  tbody
    tr
      &.active
        background: $blue-gradient
        td, p, a
          color: $white

      td
        padding: 0 20px
        p
          padding-top: 20px
          padding-bottom: 20px
          line-height: 20px
          color: $primary-dark
          +clearfix
          &.td-divider
            width: 34px
            text-align: center
            margin-left: 20px
            margin-right: 20px
            color: $grey
            border-right: 1px solid $blue-lighter-first
            border-left: 1px solid $blue-lighter-first
          .table-icon-rank
            font-size: 1rem
            line-height: 20px
        img
          display: block
          &.flag
            height: 20px
            border: 1px solid $blue-lighter-first
            + a
              padding-left: 15px
        .is-flexible
          padding: 0 30px
          +display-flex
          +justify-content(center)
          +align-items(center)
          p:not(.td-divider)
            white-space: nowrap
            width: calc(50% - 39px)
            +display-flex
            +flex(none)
            &.is-flexible-left
              a
                padding-right: 15px
              +justify-content(flex-end)
            &.is-flexible-right
              +justify-content(flex-start)
        &.is-flag
          p
            img
              width: 35px
              float: left
            a
              float: left
        &.is-centered
          text-align: center
        &.is-centered-img
          a
            display: block
            img
              width: 34px
              margin: 0 auto
              padding: 0

        &.details
          padding: 0
          .nested-inner-table tr
            td
              border-bottom: 1px solid $white
              padding: 0 15px
              background: #f0f3f7
              p
                padding: 10px 0
                a
                  padding-left: 0

      &:hover:not(.active)
        background: inherit
      &.is-selected
        background-color: $table-row-active-background
        color: $table-row-active
        a,
        strong
          color: currentColor
        td
          border-color: $table-row-active
          color: currentColor
      &:last-child
        td
          border-bottom-width: 0

  thead
    background: $blue-lighter-second
    td,
    th
      line-height: 60px
      border-bottom: none
      color: $table-head
      padding: 0 30px
      text-align: center
      color: $black
      text-transform: uppercase
      font-weight: $weight-normal
  tfoot
    td,
    th
      border-width: 2px 0 0
      color: $table-head
  // Modifiers
  &.is-bordered
    border-bottom: none !important
    td,
    th
      border-right: 1px solid $blue-lighter-first
      border-bottom: 1px solid $blue-lighter-first
      &:last-child
        border-right: none
    tr
      &:last-child
        td,
        th
          border-bottom-width: 1px
  &.is-narrow
    td,
    th
      padding: 0.25em 0.5em
  &.is-striped
    tbody
      tr:not(.is-selected)
        &:nth-child(even)
          background-color: $table-row-even-background
          &:hover
            background-color: $table-row-even-hover-background




.table.dataTable.no-footer
  border-bottom: 1px solid $blue-lighter-first

.dataTables_wrapper

  .dataTables_filter
    width: 100%
    label
      display: block
      width: 100%
      font-size: 0
      input
        width: 100%
        margin: 0
        margin-bottom: 20px
        padding: 13px 20px
        color: #757575
        font-size: 15px
        font-family: 'RobotoCondensed'
        border: 1px solid #757575 !important


  .dataTables_paginate
    float: none
    text-align: center
    &.paging_simple_numbers
      +display-flex
      +justify-content(center)
      +align-items(center)
      +until($mobileL)
        +align-items(flex-start)

      .paginate_button
        width: 34px
        height: 34px
        line-height: 34px
        border: none
        background: transparent
        padding: 0
        margin: 0
        cursor: pointer !important
        +transition($transition-default)
        +border-radius(0)
        &:hover,
        &.current
          border: none
          color: $white !important
          background: $primary

      .previous, .next
        font-family: "Fontawesome"
        font-size: 0
        background: $grey-lighter

      .previous::before
        content: "\f104"
        font-size: 1.3rem

      .next::before
        content: "\f105"
        font-size: 1.3rem

      & > span
        display: inline-block
        width: 34px
        height: 34px
        line-height: 34px
        margin: 0 10px


#requestDebatesTable_wrapper
  #requestDebatesTable_filter
    display: none


// table header title
.table-header-title
  margin-bottom: 20px
  +clearfix
  .table-header-title-item
    font-size: 24px
    font-family: 'RobotoCondensed'
    font-weight: 700
    color: $primary-dark
    float: left
    margin-top: 8px
    +until($mobileL)
      float: none
      margin-bottom: 10px

  .date-block
    +until($mobileL)
      float: none
      width: 100%




// date item for debate board table > my debate archive
.date-item
  font-family: 'RobotoCondensed'
  color: #000
  font-size: 15px


// table in country cup
.results-table-second
  margin-bottom: 0
  thead
    background-color: $grey-lighter
    tr
      th
        text-align: left
        border: none!important
        h6
          line-height: 1.4
          font-family: 'RobotoCondensed'
          font-weight: 600
          font-style: normal
          padding: 14px 0
          font-size: 16px
          color: #000
  tbody
    tr
      td
        text-align: center
        padding: 20px
        p
          font-size: 16px
          padding: 0
          display: inline-block
        .table-left-item
          text-align: right
          img
            margin-top: 0
          a
            line-height: 1.25
        .table-rgiht-item
          text-align: left
          img
            margin-top: 0
          a
            line-height: 1.25
        &.second-padding
          padding-left: 10px
          padding-right: 10px
        .final-code
          color: $primary
          font-family: 'RobotoCondensed'
          font-weight: 400
          font-style: normal
        .final-id
          color: $grey-dark
          font-weight: 400
          font-family: 'RobotoCondensed'
          font-style: normal
          font-size: 16px


// table wrapper for scroll x
.table-wrapper
  overflow-x: auto
  .is-big
    min-width: 768px
  .is-small
    min-width: 320px

// table wrapper for scroll x
.table-wrapper
  overflow-x: scroll
