.popup-wrapper
	width: 100%
	height: 100%
	top: 0
	left: 0
	position: fixed
	opacity: 0
	visibility: hidden
	z-index: 99999
	background-color: rgba(255, 255, 255, 0.85)
	+transition(all .3s ease)

	// popup overlay
	.popup-overlay
		width: 100%
		height: 100%

	// popup
	.popup
		position: absolute
		top: 50%
		left: 50%
		max-height: calc(100% - 30px)
		+translate3d(-50%,-50%,0)
		padding: 30px
		background-color: #FFF
		box-shadow: $popup-bs
		border: 1px solid $primary-lighter-first
		overflow-y: auto

		// close icon
		.close-icon
			position: absolute
			top: 30px
			right: 15px
			cursor: pointer
			font-size: 20px
			color: #fff
			opacity: 0.4
			+transition(all .3s ease)
			&:hover
				opacity: 1

		// popup header
		.popup-header
			border-bottom: 1px solid $grey-light
			padding-bottom: 25px
			text-align: center

			// popup header title
			.popup-header-title
				font-size: 27px
				font-weight: 700
				color: $primary-darker


		// popup body
		.popup-body
			text-align: center
			+clearfix

			// debate packet title
			.debate-packet-title
				font-size: 17px
				padding-top: 30px
				padding-bottom: 30px
				color: #000

			// debate packet
			.debate-packet
				display: block
				margin-bottom: 40px
				+clearfix

			// balance title
			.balance-title
				font-size: 16px
				font-weight: bold
				color: $primary-dark
			.balance-title-bottom
				margin-bottom: 15px
			.balance-subtitle
				font-size: 20px
				font-weight: bold
				color: $orange
				margin-bottom: 40px
			.debate-packet-text
				font-size: 17px
				color: #000
				text-align: center
				margin-bottom: 20px
			.popup-input
				margin-bottom: 30px
			.popup-btn
				margin-bottom: 30px
				text-transform: uppercase
			.note-block
				width: 100%
				display: block
				.note-block-item
					color: #000

			.popup-body-left
				float: left
				width: 50%
				border-right: 1px solid $primary-lighter
				+until($mobileL)
					width: 100%
			.popup-body-right
				float: left
				width: 50%
				+until($mobileL)
					width: 100%


//popup table
.popup-table
	tbody
		tr
			border-top: 1px solid $grey
			border-bottom: 1px solid $grey
			td
				text-align: center
			td:first-child
				border-left: none!important
			.table-left-item
				text-align: right
				img
					float: right
					margin-right: 15px
				a
					float: right
					line-height: 2
					margin-right: 10px
			.table-right-item
				text-align: left
				img
					float: left
					margin-left: 15px
				a
					float: left
					line-height: 2
					margin-left: 10px

// debate popup size
.debate-popup
	.popup
		width: 555px
		max-width: calc(100% - 30px)
		// debate popup header size
		.debate-popup-header
			margin-left: -30px
			margin-right: -30px

// advisor popup size
.advisor-popup
	max-width: 785px
	width: 100%
	padding: 0!important
	border-bottom: none !important

	// advisor popup > close icon size top
	.close-icon
		top: 15px!important

	// advisor popup > header
	.popup-header
		display: none

	// dvisor popup > body
	.popup-body
		.popup-body-left, .popup-body-right
			.generalstatistics
				margin-bottom: 0!important

// accept popup
.accept-popup
	width: 670px
	max-width: calc(100% - 30px)

// popup table block
.popup-table-block
	margin-left: -30px
	margin-right: -30px
	border-top: 1px solid $blue-lighter-first
	border-bottom: 1px solid $blue-lighter-first
	.accept-popup-table
		margin-bottom: 0


.opened-popup
	opacity: 1
	visibility: visible
