.tabs
  +overflow-touch
  +unselectable
  align-items: stretch
  display: flex
  font-size: $size-normal
  justify-content: space-between
  overflow: hidden
  overflow-x: auto
  white-space: nowrap
  a
    align-items: center
    color: #b3b3b3
    display: flex
    background-image: $gray-gradient 
    justify-content: center
    margin-bottom: -1px
    font-family: 'RobotoCondensed' 
    font-weight: 700
    padding: 15px 20px
    font-size: 17px 
    vertical-align: top
    +transition(all.3s ease)
    &:hover
      border-bottom-color: $text-strong
      color: $text-strong
      background-color: #FFF 
      background-image: none
  li
    display: block
    &.is-active
      a
        color: $primary
        background-color: #FFF
        background-image: none 
  ul
    align-items: center
    border-bottom: 1px solid $border
    display: flex
    flex-grow: 1
    flex-shrink: 0
    justify-content: flex-start
    &.is-left
      padding-right: 0.75em
    &.is-center
      flex: none
      justify-content: center
      padding-left: 0.75em
      padding-right: 0.75em
    &.is-right
      justify-content: flex-end
      padding-left: 0.75em
  // is line tabs
  &.is-line
    ul
      border: none
      li
        a
          background-color: transparent 
          background-image: none
          padding: 0
          font-family: 'Roboto' 
          font-weight: 400
          font-style: normal
          color: $grey 
          margin-right: 20px 
          +transition(all .3s ease)
          position: relative
          span
            padding-bottom: 5px
          &:after
            content: ''
            position: absolute
            bottom: 0
            opacity: 0
            visibility: hidden
            left: 0
            width: 100%
            height: 1px
            background-color: $primary 
        &.is-active,
          a
            color: $primary
            &:after
              opacity: 1
              visibility: visible
              bottom: 1px
        &:hover
          a
            color: $primary
  .icon
    &:first-child
      margin-right: 0.5em
    &:last-child
      margin-left: 0.5em
  // Alignment
  &.is-centered
    ul
      justify-content: center
  &.is-right
    ul
      justify-content: flex-end
  // Styles
  &.is-boxed
    a
      border: 1px solid transparent
      &:hover
        background-color: $background
        border-bottom-color: $border
    li
      &.is-active
        a
          background-color: $white
          border-color: $border
          border-bottom-color: transparent !important
  &.is-fullwidth
    li
      flex-shrink: 0
  &.is-toggle
    a
      border: 1px solid $grey-light
      border-bottom: none
      margin-bottom: 0
      line-height: 1.29
      position: relative
      &:hover
        background-color: $background
        border-color: $border-hover
        z-index: 2
    li
      & + li
        margin-left: -1px
      &.is-active
        a
          background-color: #fff
          color: $primary-dark
          z-index: 1
    ul
      border-bottom: none
  &.with-border-bottom
    ul
      border: 1px solid $grey-light
  // Sizes
  &.is-small
    font-size: $size-small
  &.is-medium
    font-size: $size-medium
  &.is-large
    font-size: $size-large


// tabs secondary into content > country-page
// *****************************

.tabs-secondary
  padding: 20px 20px 0 20px
  .tabs-secondary-title
    display: block
    width: 100%
    font-size: 24px
    color: $primary-dark
    font-family: 'RobotoCondensed'
    font-weight: bold
    margin-bottom: 20px
    line-height: 1.4


// country page > tab
// *****************************
.tab-country-page
  ul
    border: none !important
    li
      a
        background-image: $secondary-tab-gradient 
        border: 1px solid $grey-light

