<!-- ******** add head -->
{{> head}}

<!-- ******** add header -->
{{> header}}

<!-- ******** add header after sign in -->
{{!-- {{> header-after-signup}} --}}



<main class="main img-bg" data-img="img/website/gradient-bg.svg">

    <!-- main wrap -->
    <div class="main-wrap">
        <!-- header -->
        <div class="header">
            <div class="logo">
                <img src="img/website/logo.png" alt="">
            </div>
            <div class="header-right">
                <ul class="menu">
                    <li><a href="#">+ Add User</a></li>
                    <li><a href="#" class="active">User Preferences</a></li>
                    <li><a href="#">Settings</a></li>
                </ul>
                <div class="search-box"></div>
                <div class="user-box"></div>
            </div>
        </div>
        <!-- end header -->

        <!-- body -->
        <div class="body">

            <div class="tabs-block">
                <section class="section line-tabs">
                    <ul class="tabs tabs-control is-fullwidth">
                        <li class="active" data-tab="t-1"><i class="material-icons">
                            dashboard
                        </i></li>
                        <li data-tab="t-2"><i class="material-icons">
                            sms
                        </i></li>
                        <li data-tab="t-3"><i class="material-icons">
                            person
                        </i></li>
                        <li data-tab="t-4"><i class="material-icons">
                            assignment
                        </i></li>
                    </ul>
                </section>

                <div class="tab-content">
                    <!-- item -->
                    <div id="t-1" class="tab-item active">
                        <p class="tab-title">Dashboard</p>

                        <!-- counts info block -->
                        <div class="counts-info">
                            <div class="counts-info_item">
                                <span class="counts-info_item_num">267</span>
                                <p class="counts-info_item_text">Online Players</p>
                            </div>
                            <div class="counts-info_item">
                                <span class="counts-info_item_num">1890</span>
                                <p class="counts-info_item_text">Hours played</p>
                            </div>
                            <div class="counts-info_item">
                                <span class="counts-info_item_num">22</span>
                                <p class="counts-info_item_text">New Tournaments</p>
                            </div>
                            <div class="counts-info_item">
                                <span class="counts-info_item_num">6554</span>
                                <p class="counts-info_item_text">Online Players</p>
                            </div>
                        </div>
                        <!-- end counts info block -->

                        <!-- Charts -->
                        <div class="charts-block">
                            <div class="charts-block-item">
                                <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                            </div>

                            <div class="charts-block-item">
                                <div id="container1" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                            </div>
                        </div>
                        <!-- end Charts -->


                        <!-- bottom block -->
                        <div class="bottom_block">
                            <div class="players">
                                <p class="bottom-block-title">Recent Players</p>
                                <div class="players-items">
                                    <a href="#" class="players-item">
                                        <img src="img/website/person.jpg" alt="" class="player-img">
                                        <div class="players-item-right">
                                            <p class="name">Darly Ginn</p>
                                            <div class="country-name">Azerbaijan</div>
                                        </div>
                                    </a>
                                    <a href="#" class="players-item">
                                        <img src="img/website/person.jpg" alt="" class="player-img">
                                        <div class="players-item-right">
                                            <p class="name">Darly Ginn</p>
                                            <div class="country-name">Azerbaijan</div>
                                        </div>
                                    </a>
                                    <a href="#" class="players-item">
                                        <img src="img/website/person.jpg" alt="" class="player-img">
                                        <div class="players-item-right">
                                            <p class="name">Darly Ginn</p>
                                            <div class="country-name">Azerbaijan</div>
                                        </div>
                                    </a>
                                </div>
                                <div class="players-items">
                                    <a href="#" class="players-item">
                                        <img src="img/website/person.jpg" alt="" class="player-img">
                                        <div class="players-item-right">
                                            <p class="name">Darly Ginn</p>
                                            <div class="country-name">Azerbaijan</div>
                                        </div>
                                    </a>
                                    <a href="#" class="players-item">
                                        <img src="img/website/person.jpg" alt="" class="player-img">
                                        <div class="players-item-right">
                                            <p class="name">Darly Ginn</p>
                                            <div class="country-name">Azerbaijan</div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="players-statistics">
                                <p class="bottom-block-title">Player Statistics</p>
                            </div>
                        </div>
                        <!-- end bottom block -->

                    </div>

                    <!-- item -->
                    <div id="t-2" class="tab-item">
                        <p class="tab-title">Messages</p>
                    </div>

                    <!-- item -->
                    <div id="t-3" class="tab-item">
                        <p class="tab-title">User</p>
                    </div>

                    <!-- item -->
                    <div id="t-4" class="tab-item">
                        <p class="tab-title">Assigment</p>
                    </div>
                </div>
            </div>

        </div>
        <!-- end body -->
    </div>
    <!-- end main wrap -->

</main>




<!-- ******** footer -->
{{> footer}}
