/*======================================
  Selectric
======================================*/
$main-color     : $white;
$secondary-color: $white;
$bg-color       : $primary;
$text-color     : $white;
$height         : 40px;
$spacing        : 10px;
$border-width   : 1px;
$inner-height   : 40px;

.selectric-wrapper {
  position: relative;
  cursor: pointer;
}

.selectric-responsive {
  width: 100%;
}

.selectric {
  background: #28b08b ;
  position: relative;

  .label {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    font-weight: normal;
    text-overflow: ellipsis;
    margin: 0 15px 0 0;
    font-size: 1rem;
    line-height: 36px;
    color: $text-color;
    height: $inner-height;
  }

  .button {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: $inner-height;
    height: $inner-height;
    color: $secondary-color;
    background-color: transparent;
    text-align: center;
    font: 0/0 a;

    &:hover {
      border-color: transparent;
    }

    &:after {
      content: "\f107";
      font-family: "FontAwesome";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      line-height: 70px;
      font-size: 1.2rem;
      color: $blue-lighter;
    }
  }
}

.selectric-focus .selectric {
  background: #28b08b;
}

.selectric-hover .selectric {
  background: #188e6e;

  .button {
    color: darken($secondary-color, 10%);

    &:after {
      border-top-color: darken($secondary-color, 10%);
    }
  }
}

.selectric-open {
  z-index: 9999;
  background: #28b08b;

  .selectric-items {
    visibility: visible;
    opacity: 1;
    top: 100%;
  }
}

.selectric-disabled {
  filter: alpha(opacity=50);
  opacity: 0.5;
  cursor: default;
  user-select: none;
}

.selectric-hide-select {
  position: relative;
  overflow: hidden;
  width: 0;
  height: 0;

  select {
    position: absolute;
    left: -100%;
  }

  &.selectric-is-native {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;

    select {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      border: none;
      z-index: 1;
      box-sizing: border-box;
      opacity: 0;
    }
  }
}

.selectric-input {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  margin: 0 !important;
  padding: 0 !important;
  width: 1px !important;
  height: 1px !important;
  outline: none !important;
  border: none !important;
  *font: 0/0 a !important;
  background: none !important;
}

.selectric-temp-show {
  position: absolute !important;
  visibility: hidden !important;
  display: block !important;
}

/* Items box */
.selectric-items {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 120%;
  left: 0;
	background: #188e6e;
  z-index: -1;
  @include transition(all .3s ease);

  .selectric-scroll {
    height: 100%;
    overflow: auto;
    max-height: 220px;
    border-top: 1px solid $primary-lighter;
  }

  .selectric-above & {
    top: auto;
    bottom: 100%;
  }

  ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 12px;
    line-height: 20px;
    min-height: 20px;
  }

  li {
    display: block;
    padding: 10px;
    color: #FFF;
    cursor: pointer;
		border-bottom: 1px solid $primary-lighter;

    &:last-child {
      border-bottom: 0;
    }

    &.selected {
			background: #28b08b;
      color: #FFF;
    }

    &.highlighted {
			background: #28b08b;
      color: #FFF;
    }

    &:hover {
			background: #28b08b;
      color: #FFF;
    }
  }

  .disabled {
    filter: alpha(opacity=50);
    cursor: default !important;
    background: none !important;
    user-select: none;
  }

  .selectric-group {
    .selectric-group-label {
      padding-left: 10px;
      cursor: default;
      user-select: none;
      background: none;
      color: #FFF;
    }

    &.disabled li {
      filter: alpha(opacity=100);
      opacity: 1;
    }

    li {
      padding-left: 25px;
    }
  }
}
