/* Slider */

.slick-slider
    position: relative
    z-index: 10
    display: block
    box-sizing: border-box
    -webkit-touch-callout: none
    -webkit-user-select: none
    -khtml-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    user-select: none
    -ms-touch-action: pan-y
    touch-action: pan-y
    -webkit-tap-highlight-color: transparent


.slick-list
    position: relative
    overflow: hidden
    display: block
    margin: 0
    padding: 0
    &:focus
        outline: none
    &.dragging
        cursor: pointer
        cursor: hand



.slick-slider
    .slick-track, .slick-list
        position: relative
        z-index: 10
        -webkit-transform: translate3d(0, 0, 0)
        -moz-transform: translate3d(0, 0, 0)
        -ms-transform: translate3d(0, 0, 0)
        -o-transform: translate3d(0, 0, 0)
        transform: translate3d(0, 0, 0)


.slick-track
    left: 0
    top: 0
    display: block
    &:before, &:after
        content: ""
        display: table
    &:after
        clear: both
    .slick-loading &
        visibility: hidden


.slick-slide
    float: left
    height: 100%
    min-height: 1px
    [dir="rtl"] &
        float: right
    img
        display: block
    &.slick-loading
        img
            display: none
    display: none
    &.dragging
        img
            pointer-events: none
    .slick-initialized &
        display: block
    .slick-loading &
        visibility: hidden
    .slick-vertical &
        display: block
        height: auto
        border: 1px solid transparent


.slick-arrow.slick-hidden
    display: none



@charset "UTF-8"

// Default Variables

// Slick icon entity codes outputs the following
// "\2190" outputs ascii character "←"
// "\2192" outputs ascii character "→"
// "\2022" outputs ascii character "•"

$slick-font-path: "./fonts/" !default;
$slick-font-family: "slick" !default;
$slick-loader-path: "./" !default;
$slick-arrow-color: white !default;
$slick-dot-color: black !default;
$slick-dot-color-active: $slick-dot-color !default;
$slick-prev-character: "\2190" !default;
$slick-next-character: "\2192" !default;
$slick-dot-character: "\2022" !default;
$slick-dot-size: 6px !default;
$slick-opacity-default: 0.75 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 0.25 !default;

@function slick-image-url($url)
    @if function-exists(image-url)
        @return image-url($url)
    @else
        @return url($slick-loader-path + $url)



@function slick-font-url($url)
    @if function-exists(font-url)
        @return font-url($url)
    @else
        @return url($slick-font-path + $url);


/* Slider */

.slick-list
    .slick-loading &
        background: #fff slick-image-url("../img/website/loading.gif") center center no-repeat


// Slick theme
// *****************************

@charset "UTF-8"

/* Slider

.slick-loading .slick-list
  // background: #fff url('./ajax-loader.gif') center center no-repeat

/* Arrows
.slick-prev, .slick-next
    position: absolute
    top: 50%
    display: block
    height: 60px
    width: 35px
    line-height: 0px
    font-size: 0px
    cursor: pointer
    background: $primary-dark
    color: transparent
    padding: 0
    border: none
    outline: none
    z-index: 11
    +translate3d(0, -50%, 0)
    +transition(all .3s ease)
    &:hover, &:focus
        outline: none
        background: $white
        &:before
            color: $primary-dark
            opacity: $slick-opacity-on-hover
    &.slick-disabled:before
        opacity: $slick-opacity-not-active
    &:before
        font-family: $slick-font-family
        font-size: 20px
        line-height: 1
        color: $slick-arrow-color
        opacity: $slick-opacity-default
        -webkit-font-smoothing: antialiased
        -moz-osx-font-smoothing: grayscale


.slick-prev
  left: 0

.slick-next
  right: 0

.slick-prev
  &:hover:before, &:focus:before
    opacity: 1

.slick-next
  &:hover:before, &:focus:before
    opacity: 1

.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before
  opacity: .25

.slick-prev:before, .slick-next:before
  font-family: 'FontAwesome'
  font-size: 20px
  line-height: 1
  opacity: .75
  color: white
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.slick-prev:before
  content: "\f104"

.slick-next:before
  content: "\f105"

/* Dots


.slick-dots
  position: absolute
  bottom: -25px
  display: block
  width: 100%
  padding: 0
  margin: 0
  list-style: none
  text-align: center
  li
    position: relative
    display: inline-block
    width: 22px
    height: 11px
    padding: 4px
    margin: 0 5px
    padding: 0
    cursor: pointer
    button
      font-size: 0
      line-height: 0
      display: block
      width: 22px
      height: 3px
      padding: 0
      cursor: pointer
      border: 0
      outline: none
      background: $grey
      &:hover, &:focus
        outline: none
    &.slick-active button
      background: $primary-dark
